/*

OPGAVER 

I dette stylesheet er alle de elementer oplistet, som bruges i index.html filen: body, article, h1, h2, p, blockquote, cite og links (a). Du skal nu gennem en række øvelser forskønne udseende og læsbarhed af teksten. 

I billedet resultat.jpg ser du hvordan du skal prøve at få siden til at se ud. Følg opgaverne nedenfor og se om du kan løse det.


Begynd med body elementet. Giv sidens body en fast bredde i procent og margin:auto, for at centrere indholdet.
https://www.w3schools.com/cssref/pr_dim_width.asp
https://www.w3schools.com/css/css_margin.asp


Skift nu skrifttype på alt indhold:
https://www.w3schools.com/cssref/pr_font_font-family.asp

Sæt den rigtige baggrundsfarve på siden:
https://www.w3schools.com/cssref/pr_background-color.asp
Brug fx https://color.adobe.com/ til at finde farven fra billedet

Sæt hvid baggrundsfarve på article elementer

Sørg for at teksten ikke står og klæber op af siderne på article elementet
https://www.w3schools.com/css/css_padding.asp

Sæt et baggrundsbillede på body elementet, brug background-image (der ligger allerede et billede i mappen - anim.gif:
https://www.w3schools.com/cssref/pr_background-image.asp

Men nu er det irriterende - billedet gentages automatisk på hele siden. Brug background-repeat og andre background-properties til at justere..
https://www.w3schools.com/cssref/css3_pr_background.asp

Brug background-position til at justere billedets placering
https://www.w3schools.com/cssref/pr_background-position.asp

Og brug så margin til at få artiklen lidt længere ned..
https://www.w3schools.com/css/css_margin.asp

Kig nu på selve tekstafsnittene i article. 

Brug font-size til at justere i H1, H2 og P osv. Til du selv synes det ser godt ud!
https://www.w3schools.com/css/css_font.asp

Lav runde hjørner på article: https://www.w3schools.com/css/css3_borders.asp

I den første linje @import.. ser du hvordan en skrifttype importeres direkte til en hjemmeside. Den kan nu bruges i stylesheetet til at sætte font-family: Raleway

Se flere skrifttyper på https://fonts.google.com/ Prøv at find dine egne skrifttyper og sæt dem ind på siden

*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body{
}

article{
}

h1{

}

h2{

}

p{
    
}

blockquote{
    
}

cite{
    
}

a{

}

a:visited{
    
}

a:hover{

}

