@import url('https://fonts.googleapis.com/css?family=Raleway');

/*.styled betyder, at reglerne skal gælde for alle elementer med klassen "styled"*/
.styled {
    font-family: Raleway;
    font-weight: lighter;
    color:gray;
    font-size: 40px;
    margin: 10px;
    padding:20px;
    padding-left:100px;
    background-color: aliceblue;
    background-image: url("css.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    transition: all 1s;
}

.styled:hover{
    background-color: black;
    color:white; 
    background-size: 40px 40px;
}

body{
}

artcle{
    
}

h1, h2, h3{
    
}

p{
    
}

img{
}

footer{
}