/*

OPGAVER 

I dette stylesheet er alle de elementer oplistet, som bruges i index.html filen: body, article, h1, h2, p, blockquote, cite og links (a). Du skal nu gennem en række øvelser forskønne udseende og læsbarhed af teksten. 

I billedet resultat.jpg ser du hvordan du skal prøve at få siden til at se ud. Følge spørgsmålene nedenfor og se om du kan læse opgaven.

Runde hjørner: https://www.w3schools.com/css/css3_borders.asp

I den første linje @import.. ser du hvordan en skrifttype importeres direkte til en hjemmeside. Den kan nu bruges i stylesheetet til at sætte font-family: Raleway

*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body{
    background-image: url(anim.gif);
    background-repeat:repeat-x;
    background-position: top;
    font-family:Bitter;
    background-color:lightgrey;
    padding:0px;
    width:80%;
    margin:auto;
    padding-top:160px;
}

article{
    background-color:white;
    padding:20px;
    margin-top:50px;
    opacity:.95;
    border-radius:24px;
    max-width: 800px;
    margin:auto;
}

h1{
    font-size:2em;    
}

h2{
    font-size:1.2em;
}

p{
    
}

blockquote{
    
}

cite{
    
}

a{
    text-decoration: none;
    color:cornflowerblue;
}

a:visited{
    
}

a:hover{

}

